<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.thepoofy.gwumpy.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>GwumpySearchServlet</servlet-name>
    <servlet-class>com.thepoofy.gwumpy.servlet.GwumpySearch</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>GwumpyDetailsServlet</servlet-name>
    <servlet-class>com.thepoofy.gwumpy.servlet.GwumpyDetails</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>QASearch</servlet-name>
    <servlet-class>com.thepoofy.gwumpy.servlet.GwumpyQASearch</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>YelpSearch</servlet-name>
    <servlet-class>com.thepoofy.gwumpy.servlet.YelpSearch</servlet-class>
  </servlet>
  
  <servlet>
	<servlet-name>RestaurantGradeUpload</servlet-name>
	<servlet-class>com.thepoofy.gwumpy.servlet.NycRestaurantUpload</servlet-class>
  </servlet>
  
  
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/gwumpy/greet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>GwumpySearchServlet</servlet-name>
    <url-pattern>/gwumpy/search</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>GwumpyDetailsServlet</servlet-name>
    <url-pattern>/gwumpy/details</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>QASearch</servlet-name>
    <url-pattern>/gwumpy/qasearch</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>YelpSearch</servlet-name>
    <url-pattern>/gwumpy/yelpsearch</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
	<servlet-name>RestaurantGradeUpload</servlet-name>
	<url-pattern>/RestaurantGradeUpload</url-pattern>
  </servlet-mapping>

  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
