.categoryIcon{
	padding-top:10px;
	padding-left:10px;
}
.alignRight{
	text-align:right;
}

.ratingBox{
	float:right;
	margin-left:10px;
	padding-right:10px;
	width:40px;
}
.healthCode{
	font-size:3.0em;
}
.violations{
 	font-size:1.5em;
}

.healthCode-a{
 	color:blue;
}
.healthCode-b{
 	color:green;
}
.healthCode-c{
 	color:orange;
}

h3{
	padding:0px;
}
 	
.venueName{
	font-size:1.5em;
	padding: 0px 0px 0px 0px;
}
 	
 	