.categoryIcon{
	padding-top:10px;
	padding-left:10px;
}
.alignRight{
	text-align:right;
}
.healthCode{
	font-size:1.2em;
}
.violations{
 	font-size:1.1em;
}	
h3{
	padding:0px;
}
 	
.venueName{
	font-size:1.5em;
	padding: 0px 0px 0px 0px;
}
 	
 	